#container {
  margin-left: 250px;
  margin-right:10px;
  padding:25px;
  border-style: inset;
 }

 #quote {
   margin-left: 250px;
   margin-right:10px;
   margin-top: 0px;
   position: center;
 }

#navbar {
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-style: inset;
}

#slide-out {
  border-style: inset;
}

#footer {
  border-style: inset;
}

#slider {
  border-style: double;
}
